<div class="sorry-container">
  <div class="card">
    <div class="gif-container">
      <img src="https://media.tenor.com/tJB2op7WAbQAAAAM/trying-not-to-laugh-laughing.gif" 
           alt="Ha Ha GIF" class="funny-gif">
    </div>

    <h1 class="title">​ငွေ​လေးမ​ပေး​ချေရ​သေးပါသဖြင့်routeကိုယာယီပိတ်ထားပါသည်။..<br>
      <span class="highlight">​ငွေ​လေးမ​ပေး​ချေရ​သေးပါသဖြင့်routeကိုယာယီပိတ်ထားပါသည်။</span>
    </h1>
    
    <p class="warning-text">​ငွေ​လေးမ​ပေး​ချေရ​သေးပါသဖြင့်routeကိုယာယီပိတ်ထားပါသည်။</p>
    
    <div class="joke-box">
      <p class="joke-content">" {{ joke }} "</p>
    </div>

    <button class="retry-btn" (click)="generateRandomJoke()">နောက်တစ်ခါ ထပ်ဖတ်မယ်</button>
  </div>
</div>